version: 2
updates:
  - package-ecosystem: "npm"
    # Location of package.json
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "docker"
    # Look for a `Dockerfile` in the `root` directory
    directory: "/"
    ignore:
      - dependency-name: "*"
        versions: [">=25.0"]
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    # Workflow files stored in the default location of `.github/workflows`
    # You don't need to specify `/.github/workflows` for `directory`. You can use `directory: "/"`.
    directory: "/"
    schedule:
      interval: "weekly"
