.DS_Store
*.log
**/.env
.git
.gitignore
*.log
**/node_modules
**/npm-debug.log
Dockerfile
.dockerignore
**/dist
**/eslint.config.mjs
**/.prettierrc.json
**/vitest.config.js
**/vitest.workspace.js
**/*.md
.github
**/docs
.vscode
